# More information about the configuration file can be found here:
# https://docs.aws.amazon.com/serverless-application-model/latest/developerguide/serverless-sam-cli-config.html
version = 0.1

[default]
[default.global.parameters]
stack_name = "nanum_back"

[default.build.parameters]
cached = true
parallel = true

[default.validate.parameters]
lint = true

[default.deploy.parameters]
capabilities = "CAPABILITY_IAM"
confirm_changeset = true
resolve_s3 = true
stack_name = "nanum-back"
s3_prefix = "nanum-back"
region = "ap-northeast-2"
image_repositories = []
parameter_overrides = "CoBuyingTableName=\"CoBuyingTable\" REGIONNAME=\"ap-northeast-2\" AWSENVNAME=\"AWS_SAM_LOCAL\" DEVENVNAME=\"OSX\" DYNAMODBURL=\"https://dynamodb.ap-northeast-2.amazonaws.com\" DYNAMODBHOST=\"dynamodb.ap-northeast-2.amazonaws.com\" DYNAMODBPORT=\"\" PROTOCAL=\"https:\""
disable_rollback = true

[default.package.parameters]
resolve_s3 = true

[default.sync.parameters]
watch = true

[default.local_start_api.parameters]
warm_containers = "EAGER"
parameter_overrides = "CoBuyingTableName=\"CoBuyingTable\" REGIONNAME=\"ap-northeast-2\" AWSENVNAME=\"AWS_SAM_LOCAL\" DEVENVNAME=\"OSX\" DYNAMODBURL=\"http://host.docker.internal:3300\" DYNAMODBHOST=\"host.docker.internal\" DYNAMODBPORT=\"3300\" PROTOCAL=\"http:\""

[default.local_start_lambda.parameters]
warm_containers = "EAGER"
