name: SAM Deploy Pipeline

on:
  pull_request: # Prod, Stg 브랜치에 병합될 때 실행
    branches: [Prod, Stg]

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: true
          token: ${{ secrets.GIT_TOKEN }}

      - name: Setup SAM CLI
        uses: aws-actions/setup-sam@v2

      - name: Install Node.js dependencies # npm install
        run: npm install

      - name: Set AWS credentials
        uses: aws-actions/configure-aws-credentials@v3
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ap-northeast-2

      - name: SAM Build
        run: sam build

      - name: SAM Validate
        run: sam validate

      - name: Deploy
        run: | # changeset 생성 및 자동 승인하여 배포
          sam deploy \
            --config-env ${{ github.ref_name }} \
            --stack-name ${{ github.ref_name }}-nanum-back
            --no-confirm-changeset \
            --no-fail-on-empty-changeset \
            --capabilities CAPABILITY_IAM

      - name: Print Stack Outputs
        run: |
          # 스택 outputs 출력
          aws cloudformation describe-stacks \
            --stack-name ${{ github.ref_name }}-nanum-back \
            --query 'Stacks[0].Outputs' \
            --output table
